.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.Table {

    max-width: 1000px;
    display: grid;

}

.Table-item {

    display: grid;
    position: relative;
    border: 1px solid #000;
    color: black;
    height: 150px;
    max-height: 150px;
    overflow: hidden;
    cursor: pointer;

}

.Table-item img {

    grid-column: 1;
    grid-row: span 2;
    object-fit: cover;
    max-height: 150px;
    width: 100px;
    height: 150px;

}

.Table-item h3 {

    grid-column: 2;
    overflow: hidden;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;

}

.Table-item p {

    grid-column: 2;
    overflow: hidden;
    font-size: small;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;

}

.Table-item label {

    grid-column: 2;
    overflow: hidden;
    font-size: small;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: left;

}


@media only screen and (min-width: 450px) {

    .App {

        padding: 20px;

    }

    .Table {

        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
        margin: auto;

    }

    .Table-item {

        display: block;
        position: relative;
        height: 350px;
        max-height: 350px;


    }

    .Table-item img {

        float: right

    }

    .Table-item h3 {

        grid-column: 2;
        overflow: hidden;
        margin: 0px;
        margin-left: 10px;
        margin-right: 10px;

    }

    .Table-item p {

        display: contents;

    }

}

